.Banner {
  width: 100%;
  height: 500px;
  background-image: url('./fieldprep.jpg'); //placeholder
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Text {
  color: white;
  font-size: 100px;
  letter-spacing: .08em;
  font-weight: 100;
  font-family: 'Qeestrial', sans-serif;
}
